/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: .05rem solid var(--md-typeset-table-color);
}

.doc-param-details p:nth-child(1),
.doc-return-details p:nth-child(1) {
  padding-bottom: 5px !important;
  border-bottom: .05rem solid var(--md-default-fg-color--lightest);
  margin-bottom: 5px !important;
}

.doc-param-details {
  border-left: .05rem solid var(--md-default-fg-color--lightest);
}

.md-typeset__table {
  width: 100%;
}

table {
  display: table !important;
}